<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Pensión Guadalupe</title>
  </head>
  <body>
    <header>
      <nav>
        <a>Logo</a>
        <ul>
          <li>Conócenos</li>
          <li>Contacto</li>
          <li>Inicia Sesión</li>
        </ul>
      </nav>
      <h1>Pensión de Guadalupe</h1>
    </header>

    <section class="lugares">
      <div class="content">
        <h2>Espacios en renta:</h2>
        <div class="cards-preview">
          <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Lugar de estacionamiento laminado</h3>
            <p>Tejaban de lamina para proteger del sol y granizo.</p>
            <a>Rentar</a>
          </div>
          <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Bodega</h3>
            <p>400 m2, con baño y mas cosas</p>
            <a>Rentar</a>
          </div>
          <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Local</h3>
            <p>Sobre avenida principal, con baño</p>
            <a>Rentar</a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div>
        <p>Pension de Guadalupe &copy;</p>
        <p>esto se va a descontrolarrr</p>
      </div>
    </footer>

    <div class="bob">
    </div>
  </body>
</html>
