<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="style.css" type="text/css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Pensión Guadalupe</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Logo</a>
        <ul>
          <li><a href="#">Conócenos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Inicia Sesión</a></li>
          <li><a href="/signup">Regístrate</a></li>
        </ul>
      </nav>
      <h1>Pensión de Guadalupe</h1>
    </header>

    <section class="lugares">
      <div class="content">
        <h2>Espacios en renta: <a href="/add-space"> Agregar item a collección en mongodb (test de ruta para administrador)</a></h2>
        <div class="cards-preview">
          <!-- <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Lugar de estacionamiento laminado</h3>
            <p>Tejaban de lamina para proteger del sol y granizo.</p>
            <a>Rentar</a>
          </div>
          <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Bodega</h3>
            <p>400 m2, con baño y mas cosas</p>
            <a>Rentar</a>
          </div>
          <div class='card'>
            <img src="bob.png" alt="foto del espacio" />
            <h3>Local</h3>
            <p>Sobre avenida principal, con baño</p>
            <a>Rentar</a>
          </div> -->
        </div>
      </div>
    </section>

    <footer>
      <div>
        <p>Pensión de Guadalupe &copy;</p>
        <p>esto se va a descontrolarrr</p>
      </div>
    </footer>

    <div class="bob">
    </div>
    <script src="script.js" ></script>
  </body>
</html>
