<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
  <title>Pensión Gudalaupe | Iniciar Sesión</title>
</head>
<body>
  <h1>Pensión Guadalupe</h1>

  <form action="POST">
    <a href="/">Regresar a Inicio</a>
    <h2>Inicia Sesión</h2>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
  </form>
</body>
</html>