<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
    />
    <title>Pensión Guadalupe | Regístrate</title>
  </head>
  <body>
    <div class="container">
      <h1>Pension de Guadalupe</h1>

      <form action="post">
        <a href="/">Regresar a Inicio</a>
        <h2>Registrate</h2>

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required />

        <label for="last-name">Apellido Paterno:</label>
        <input type="text" name="last-name" id="last-name" required />

        <label for="second-last-name">Apellido Materno:</label>
        <input
          type="text"
          name="second-last-name"
          id="second-last-name"
          required
        />

        <label for="name">Email:</label>
        <input type="email" name="email" id="email" required />

        <label for="phone">Teléfono:</label>
        <input
          type="tel"
          name="phone"
          id="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        />
      </form>
      <button type="submit">Enviar</button>
    </div>
  </body>
</html>
